// .main__projects {
// }
// .projects {
// }
// .projects__conteiner {
// }
// ._conteiner {
// }
// .projects__body {
// }
// ._body {
// }
// .projects__heading {
// }
// .section-heading {
// }
// .skils__title {
// }
// .scetion-title {
// }
// .skils__subtitle {
// }
// .scetion-subtitle {
// }
.projects__list {
  @include dFlexTop;
  justify-content: center;
  flex-wrap: wrap;
}
.projects__item {
  position: relative;
  flex: 26%;
  height: 250px;
  margin: 10px;
  transition: $shortDelay;
  overflow: hidden;
  @media (max-width: 992px) {
    flex: 34%;
    height: 300px;
  }
  @media (max-width: 767px) {
    flex: 51%;
    height: auto;
    max-height: 600px;
  }
  @media (max-width: 500px) {
    margin: 10px 50px;
    height: 400px;
  }
  @media (max-width: 500px) {
    margin: 10px;
  }
  @media (hover: hover) {
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      .projects__baner {
        bottom: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        user-select: auto;
      }
    }
  }
  @media screen and (hover: none) {
    &._focuses {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      .projects__baner {
        bottom: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        user-select: auto;
      }
    }
  }
}
.projects__background {
  width: 100%;
  height: 100%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $brightDark;
  }
}
.projects__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
// ._project {
// }
._left {
  object-position: top left;
}
.projects__baner {
  position: absolute;
  bottom: -40%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $blac;
  opacity: 0;
  visibility: hidden;
  transition: $shortDelay;
  pointer-events: none;
  user-select: none;
}
.projects__name {
  position: absolute;
  top: 20%;
  left: 20px;
  font-size: $from10to20px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}
.projects__qrcode {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: auto;
  height: 30%;
}
.projects__btn_show-description {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  font-size: $from15to25px;
  text-transform: uppercase;
  color: $white;
  background-color: $transparentWhite;
  transition: $shortDelay;
  @media (hover: hover) {
    &:hover {
      background-color: $turquoise;
    }
  }
}

// .projects__modal-window {
// }
.modal-window {
  display: none;
  position: fixed;
  top: 10%;
  left: 5%;
  z-index: 100;
  width: 90%;
  height: 80%;
  overflow: auto;
  background-color: $white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  @include castomScrol;
}
.modal-window__body {
  height: 100%;
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;
  @include dFlexBetween;
  align-items: center;
  flex-direction: column;
}
.modal-window__header {
  width: 100%;
  flex: 1;
  margin-bottom: 60px;
}
.modal-window__title {
  margin-bottom: 15px;
  font-size: $from30to50px;
  text-transform: uppercase;
  color: $dark;
}
// ._project-name {
// }
.clothing-store-website__description {
  font-size: $from15to25px;
  color: $dark;
}
.modal-window__background {
  width: 100%;
  flex: auto;
  height: 500px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
// .projects__img {
// }
// ._project {
// }
.modal-window__footer {
  flex: 1;
  width: 100%;
  margin-top: 60px;
  @include dFlexBetween;
  align-items: center;
}
.modal-window__buttons {
}
.modal-window__link {
  padding: 5px 15px;
  font-size: $from15to25px;
  color: $white;
  background-color: $navyBlue;
  text-transform: uppercase;
  border-radius: 5px;
  transition: $shortDelay;
  @media (hover: hover) {
    &:hover {
     background-color: $gray;
    }
  }
}
._link-github {
  margin-right: 10px;
}
._link-see {
}
.modal-window__qrcode {
  width: 100px;
  height: 100px;
}
